@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

:root{
    --color-bg: #110212;
    --color-bg-variant: #bd481a;
    --color-primary: #04d361;
    --color-primary-variant: rgba(77, 181, 255, 0.4);
    --color-primary-magenta: #ff00ff;
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.6);

    --transition: all 400ms ease;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: var(--color-bg);
    color: #fff;
    line-height: 1.5;
    display: block;
    margin: 8px;
    padding: 8px;
}
h1{
    font-size: 50px;
}
h2{
    text-align: center;
}
h1, h4{
    color: var(--color-bg-variant);
    text-align: center;
}
ul {
    list-style-type: none;
}
a{
    color: var(--color-primary);
    text-decoration: none;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1rem;
}
.btn{
    width: max-content;
    display: inline-block;
    color: var(--color-bg-variant);
    background-color: transparent;
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-bg-variant);
    transition: var(--transition);
}
.btn:hover{
    background: var(--color-light);
    color: var(--color-bg);
    border-color: transparent;
}

@media screen and (max-width: 600px) {
    h1{
        font-size: 30px;
    }
    h4{
        font-size: 12px;
    }
    a{
        font-size: 13px;
    }
}